@use '../utilities/variables' as *;

.button2Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  background-color: $accent-color;
  transition: all ease-in-out .75s;

  .body {
    font-size: 3.5rem;
    color: white;
    transition: all ease-in-out .75s;
  }

  .button2 {
    width: 20rem;
    height: 5rem;

    border: 0;
    outline: 0;
    border-radius: 1rem;

    background-color: white;
    color: $accent-color;
    
    font-size: 2rem;
    transition: all ease-in-out .75s;
  }
}

.clicked {
  background-color: white;

  .body {
    color: $accent-color;
  }

  .button2 {
    background-color: $accent-color;
    color: white;
  }
}