@use '../utilities/variables' as *;

.button3Container {
  position: relative;

  background-color: white;
  transition: all ease-in-out .75s;

  overflow: hidden;

  .cover {
    position: absolute;
    top: 60%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 65rem;
    height: 65rem;
    border-radius: 50%;
    background-color: $accent-color;

    transition: all ease-in-out .75s;
  }

  .body {
    position: absolute;
    top: 35%;
    left: 50%;

    transform: translate(-50%);

    font-size: 3.5rem;
    color: white;
    transition: all ease-in-out .75s;
  }

  .button3 {
    position: absolute;
    top: 60%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 20rem;
    height: 5rem;

    border: 0;
    outline: 0;

    border-radius: 1rem;

    background-color: $accent-color;
    color: $accent-color;
    
    font-size: 2rem;
    transition: all ease-in-out .75s;

    overflow: hidden;

    .buttonCover {
      position: absolute;
      top: 60%;
      left: 50%;
  
      transform: translate(-50%, -50%);
  
      width: 65rem;
      height: 65rem;
      border-radius: 50%;
      background-color: white;

      transition: all ease-in-out .75s;

      z-index: -1;
    }
  }
}

.button3Container:has(.button3:hover) {
  .cover {
    width: 0;
    height: 0;
  }

  .body {
    color: $accent-color;
  }

  .button3 {
    color: white;
    .buttonCover {
      width: 0;
      height: 0;
    }
  }
}