@use '../utilities/variables' as *;


.mainContainer {
  padding: 2rem max(4vw, calc((100vw - 110rem) / 2));

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;

  @include tablet {
    grid-template-columns: 1fr 1fr ;
  }

  @include mobile {
    grid-template-columns: 1fr ;
  }

  .container {
    aspect-ratio: 1;
    border: 0.25rem solid $accent-color;
    border-radius: 2rem;

    isolation: isolate;
  }
}